<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home Page</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <nav>
        <a href="/signup">Sign up</a>
        <a href="/login">Log in</a>
        <a href="/profile">Profile</a>
    </nav>
    <h1>Welcome {{user.name}}!</h1>
    <p>You are logged in as {{user.username}}.</p>
    <br><br><br>
    <a href="/logout">Log out</a>



</body>
</html>